---
layout: default

hero_area:
  enable: true
  title: "Qa'id Jacobs"
  sub_title: |
    I’m a <b>user experience designer</b> and <b>creative director</b> currently based in Amsterdam with a spirit and curiosity that roves the entire planet Earth 🌍.
  
about_me:
  enable: true
  title: ""
  sub_title: "I'm a designer and thinker cut from a different cloth."
  section_id: "about"
  paragraphs:
    - text: |
        My name is Qa’id (pronounced: k-eye-eed). I've done creative and strategic work in 5 different industries over the past 15 years. I've got strong opinions that are [usually] loosely held. I believe that Time is short and Life is grand. In 2017 I founded a creative consultancy called <a href="https://constellation.design" title="Constellation Design website link">Constellation Design</a>.

  image: "/assets/images/qaidjacobs-stylized.png"

expertise:
  enable: true
  title: "My Areas of Expertise"
  sub_title: ""
  clients_title: "Happy Collaborators"
  section_id: "expertise"
  lists:

    - title: "UX & Product Design"
      description: "I focus on user-centered, empathy-powered approaches."
      image: "/assets/images/expertise-ux.png" 

    - title: "Creative Direction"
      description: "I lead explorations and organize around powerful ideas"
      image: "/assets/images/expertise-creative-direction.png"

    - title: "Design Mentorship"
      description: "I share what I know so that we can all grow."
      image: "/assets/images/expertise-mentorship.png"

work:
  enable: true
  title:
  sub_title: "Case Studies"
  posts_number: 3
  section_id: "work"

contact_area:
  enable: true
  sub_title: "Let's talk and discover the things we can build together."
  bg_image: "/assets/images/art/map.png"
  button_text: "Contact me"
  button_url: "contact.html"
  section_id: "contact"


---
<link rel="stylesheet" type="text/css" href="/assets/css/color/cobalt.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/font/font4.css" />
<div class="box-layout">
    <div class="content-wrapper">
        {% include one_page_nav.html %}

        {% if page.hero_area.enable %}
        <div class="wrapper bg-opacity-default">
          <div class="container inner">
            <div class="space20"></div>
              <div class="row">
                <div class="col-md-11">
                {% if page.hero_area.title %}
               <h1 class="display-1">{{page.hero_area.title}}</h1>
              {% endif %}
              <div class="space10"></div>
              {% if page.hero_area.sub_title %}
               <h2 class="display-4">{{page.hero_area.sub_title}}</h2>
              {% endif %}
                </div>
              </div>
          </div>
          <!-- /.container -->
        </div>
        <!-- /.wrapper -->
        {% endif %}


         
        {% if page.about_me.enable %}
        <div class="wrapper white-wrapper" id="{{page.about_me.section_id}}">
            <div class="container inner landing-intro">
                <div class="row align-items-center">
                    {% if page.about_me.image %}
                    <div class="col-lg-6 order-lg-2 text-center">
                        <div>
                            <figure><img src="{{page.about_me.image}}" alt="{{page.about_me.title}}" /></figure>
                            <!--/.row -->
                        </div>
                    </div>
                    <!--/column -->
                    {% endif %}
                    <div class="space30 d-none d-md-block d-lg-none"></div>
                    <div class="col-lg-6 pr-60 pr-md-15">
                        {% if page.about_me.title %}
                        <h2 class="title-color color-gray">{{page.about_me.title}}</h2>
                        {% endif %} 
                        {% if page.about_me.sub_title %}
                        <h3 class="display-3">{{page.about_me.sub_title}}</h3>
                        {% endif %}
                        <div class="space10"></div>
                        {% for text_data in page.about_me.paragraphs %}
                        <p>{{text_data.text}}</p>
                        {% endfor %}
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
                {% if page.about_me.lists.enable %}
                <div class="space50"></div>
                <div class="row gutter-60 gutter-md-30">
                    {% for service in page.about_me.lists.services %}
                    <div class="col-lg-4">
                        <div class="d-flex flex-row justify-content-center">
                            <div>
                                <span class="icon icon-bg icon-bg-default color-default mr-25"><span class="number">{{forloop.index}}</span></span>
                            </div>
                            <div>
                                <h5>{{service.title}}</h5>
                                <p class="mb-0">{{service.description}}</p>
                            </div>
                        </div>
                    </div>
                    <!--/column -->
                    {% endfor %}
                </div>
                <!--/.row -->
                {% endif %} 
                {% if page.about_me.button_text %}
                <div class="space50"></div>
                <div class="text-center">
                    <a href="{{page.about_me.button_url}}" class="btn">{{page.about_me.button_text}}</a>
                </div>
                {% endif %}
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
        {% endif %}
        

        {% if page.expertise.enable %}
        <div class="wrapper light-wrapper" id="{{page.expertise.section_id}}">
            <div class="container inner"> 
                {% if page.expertise.title %}
                <h3 class="display-3 text-center">{{page.expertise.title}}</h3>
                {% endif %}
                <div class="space40"></div>
                <div class="row no-gutters">
                    <div class="col-lg-4 mb-0">
                        <ul class="nav nav-tabs nav-tabs-bg flex-column">
                            {% for list in page.expertise.lists %}
                            <li class="nav-item">
                                <a class="nav-link {% if forloop.index == 1 %} active {% endif %}" data-toggle="tab" href="#tab5-{{forloop.index}}">
                                    <span>{{list.title}}</span>
                                    <p>{{list.description}}</p>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <!-- /.nav-tabs -->
                    </div>
                    <!--/column -->
                    <div class="col-lg-7 ml-auto">
                        <div class="tab-content">
                            {% for list in page.expertise.lists %}
                            <div class="tab-pane {% if forloop.index == 1 %} show active {% endif %}" id="tab5-{{forloop.index}}">
                                <figure>
                                    <img src="{{list.image}}" alt="{{list.title}}" />
                                </figure>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!--/column -->
                </div>

                <!-- CLIENTS -->  
                <div class="space150"></div>
                <h3 class="display-3 text-center">{{page.expertise.clients_title}}</h3>
                <div class="space40"></div>
                {% include clients_carousel.html %}

                <!--/.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
        {% endif %}


        {% if page.work.enable %} 
        <!-- CASE STUDIES -->
        <div class="wrapper white-wrapper" id="{{page.work.section_id}}">
            <div class="container inner">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        {% if page.work.title %}
                         <h2 class="title-color color-gray text-center">{{page.work.title}}</h2>
                        {% endif %} {% if page.work.sub_title %}
                         <h3 class="display-3 text-center">{{page.work.sub_title}}</h3>
                        {% endif %}
                    </div>
                </div>
                <div class="space40"></div>
                <div class="grid-view">
                    <div class="carousel owl-carousel blog-posts" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'>
                        {% for post in site.posts limit: page.work.posts_number  %}
                        <div class="item">
                            {% if post.post_image %}
                            <figure class="overlay overlay1 rounded mb-30">
                                <a href="{{post.url}}"> <img class="post-thumb" src="{{post.post_image}}" alt="{{post.title}}" /></a>
                                <figcaption>
                                    <h5 class="from-top mb-0">Read More</h5>
                                </figcaption>
                            </figure>
                            {% endif %}
                            <h2 class="post-title mb-0">
                                <a href="{{post.url}}">{{post.sub_title}}</a>
                            </h2>
                        </div>
                        <!-- /.item -->
                        {% endfor %}
                    </div>
                    <!-- /.owl-carousel -->
                </div>
                <!-- /.grid-view -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
        {% endif %}

        
        <!-- CONTACT CTA -->
        {% if page.contact_area.enable %}
        <div class="wrapper image-wrapper bg-auto no-overlay bg-image text-center" data-image-src="{{page.contact_area.bg_image}}" id="{{page.contact_area.section_id}}">
            <div class="container inner">
                <div class="row">
                    <div class="col-md-9 mx-auto">
                    	{% if page.contact_area.sub_title %}
                         <h3 class="display-3">{{page.contact_area.sub_title}}</h3>
                        {% endif %}
                        <div class="space30"></div>
                        <!-- {% if page.contact_area.button_text %}
                        <a href="{{page.contact_area.button_url}}" class="btn btn-l btn-default mb-0"> -->
                          <a href="mailto:qaid@constellation.design?subject=Exploring a project with Constellation Design" class="btn btn-l btn-default mb-0">Send me an email</a>
                        <!-- {% endif %} -->
                    </div>
                </div>
            </div>
        </div>
        <div class="space120"></div>
        {% endif %}
        {% include footer_6.html light_logo="true" %}
        </div>
    </div>
</div>
